%h1 Home
= form_for @message, remote: true do |f|
  %div
    %label message
    = f.text_field :content
  %div
    %label username
    = f.text_field :username
  %div
    %label room
    = f.text_field :room_name
  = f.submit


%h2 New 
#msg
  Messages below here:
  %br

%h2 Existing
%ol
  - Message.all.order("id desc").each do |message|
    %li
      = "#{ message.created_at } - @#{ message.username }: #{ message.content } to room: #{ @message.room_name }"
